.train-announcement-panel-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-style: solid;
    border-color: black;

    width: inherit;
    height: inherit;
}

/*CFR railcar-like color theming*/
.train-announcement-panel-body{
    background-color: var(--clr-cfr-blue);
}

.train-announcement-panel-body .inputs{
    background-color: var(--clf-cfr-grey);
}

.train-announcement-panel-body .playback-icon-area{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 64px;
}

.train-announcement-panel-body .playback-icon-area img{
    max-height: 64px;
}


/*DEBUG*/

/*
section{
    border: solid;
    border-color: aqua;
}

.input-group-0, .input-group-1, .input-group-2, .input-group-3, .input-group-4, .input-group-5{
    border: solid;
    border-color: thistle;
}

.input-row{
    border: dashed;
    border-color: darkgoldenrod;
}
.full-remaining-width-input-element{
    background-color: magenta;
}
*/

.train-announcement-panel-body .input-group-0, input[type="button"]{
    height: 35px;
    font-size: large;
}

.train-announcement-panel-body .input-group-1, .input-group-2, .input-group-3, .input-group-4, .input-group-5{
    margin: 15px 10px;
}

.train-announcement-panel-body .input-row{
    display: flex;
    flex-direction: row;
}

.train-announcement-panel-body .input-row select, input[type="text"], input[type="number"]{
    margin: 0px 5px;
}

/*These input boxes (select dropdown, text input, number input) that should take up the whole rest of the line*/
.train-announcement-panel-body .input-row .full-remaining-width-input-element{
    flex-grow: 1;
}

#train-type-selector{
    width: 20%;
}
